body{
    font-family: Arial, sans-serif;
    background: rgb(124, 214, 232);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    width: 90vw;
    max-width: 450px;
    background: #e3350d;
    border-radius: 20px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

/*HOME SCREEN*/
.capture-box{
    width: 100%;
    max-width: 320px;
    aspect-ratio: 1/0.7;
    background: #519c3a;
    border: 4px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    text-align: center;
    color: black;
    padding: 15px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

@keyframes blink{
    0%{opacity: 1;}
    50%{opacity: 0.2;}
    100%{opacity: 1;}
}
.blink{animation: blink 1.5s infinite;}

.custom-upload{
    width:100%;
    max-width:320px;
    padding:15px;
    background-color:#4354d0;
    color:white;
    border-radius:12px;
    display:block;
    cursor:pointer;
    margin-bottom:20px;
    font-size:20px;
    font-weight:bold;
    text-align:center;
    box-sizing:border-box;
    transition:all 0.2s ease;
    box-shadow:
        0 4px 8px rgba(
            0,
            0,
            0,
            0.3
        );
}
.custom-upload:hover{transform:scale(1.05);}

.scan-button {
    margin-top: 30px;
    padding: 15px 25px;
    font-size: 18px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    background-color: #4354d0;
    color: white;
    font-weight: bold;
    transition: all 0.2s ease;
    box-shadow:
        0 4px 8px rgba(
            0,
            0,
            0,
            0.3
        );
}
.scan-button:hover {transform: scale(1.05);}

button{

    background-color: #4354d0;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 15px 25px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease;
    box-shadow:
        0 4px 8px rgba(
            0,
            0,
            0,
            0.3
        );
}
button:hover{transform: scale(1.05);}

/*RESULT PAGE */
.result-card {
    width: 90%;
    max-width: 600px;
    margin: auto;
    margin-top: 30px;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    background: #e3350d;
    backdrop-filter: blur(10px);
}

.pokemon-name h1{
    margin:0;
    font-size:40px;
    letter-spacing:2px;
    text-transform:uppercase;
}

.pokemon-name{
    background:rgb(186, 233, 255);
    color:#222;
    padding:15px;
    border-radius:15px;
    margin-bottom:20px;
    box-shadow:
        0 4px 10px rgba(
            0,
            0,
            0,
            0.3
        );
    text-shadow:
        2px 2px 4px rgba(
            0,
            0,
            0,
            0.2
        );
}

.image-container{
    width:400px;
    height:280px;
    margin:auto;
    margin-top:20px;
    background:#519c3a;
    border:5px solid black;
    border-radius:20px;
    display:flex;
    justify-content:center;
    align-items:center;
    box-shadow:
        0 5px 10px rgba(
            0,
            0,
            0,
            0.3
        );
}

.pokemon-image {
    width: 250px;
    height: 250px;
    object-fit: contain;
    margin-top: 20px;
}

.description-box {
    margin-top: 20px;
    padding: 20px;
    border-radius: 15px;
    background: rgb(186, 233, 255);
}

.description-box p {
    line-height: 1.6;
    font-size: 18px;
}

.top5-box {margin-top: 25px;}

.top5-box ul {
    list-style: none;
    padding: 0;
}

.top5-box li {
    padding: 8px;
    font-size: 18px;
}



@media (max-width: 768px) {
    .pokemon-image {
        width: 180px;
        height: 180px;
    }
    .description-box p {
        font-size: 16px;
    }
    .top5-box li {
        font-size: 16px;
    }
}